@page "/"
@inherits FluxorComponent
@using BF2TV.Domain.BattlefieldApi
@using BF2TV.Domain.Services
@using BF2TV.Frontend.Components
@using BF2TV.Frontend.Store
@using BF2TV.Frontend.Store.FriendList
@inject IDispatcher Dispatcher
@inject IState<AlertStore.State> AlertState
@inject IState<FavoriteServerListState> FavoriteServerListState
@inject IState<FullServerListState> FullServerListState
@inject IState<FriendListState> FriendListState
@inject IEnvironment Environment
@inject IActivePlayerLookupService ActivePlayerLookupService
@inject IPeriodicRefresher PeriodicRefresher
@inject DiscordUrlParser _discordUrlParser

@if (Environment.IsApp() && _activePlayerName != null)
{
    <div class="mb-3">
        <small>Welcome to duty, <strong>@_activePlayerName</strong>!</small>
    </div>
}

<a role="button" class="btn btn-dark me-3 align-content-center" title="Refresh all server data" @onclick="Refresh">
    <span class="ps-1 pe-2 d-flex align-items-center" style="min-height: 40px">
        <i class="bi bi-arrow-clockwise icon-in-a-button-big"></i> Refresh Dashboard
    </span>
</a>
<div class="btn btn-dark p-0">
    <div class="form-switch p-1 ps-5 d-flex align-items-center" style="min-height: 40px">
        <label style="cursor: pointer" for="chkAutoReload" class="form-check-label p-3 text-nowrap">
            <input type="checkbox" style="cursor: pointer" id="chkAutoReload" class="form-check-input me-1"
                   checked="@PeriodicRefresher.IsEnabled"
                   @onclick="() => PeriodicRefresher.UpdateSetting(!PeriodicRefresher.IsEnabled)">
            Auto Refresh is @(PeriodicRefresher.IsEnabled ? "on" : "off")
        </label>
    </div>
</div>

<div class="col-md-6 pt-5 mt-2">
    @if (FullServerListState.Value.ServerList != null && FriendListState.Value.IsLoading == false && FriendListState.Value.IsInitialized)
    {
        <h3>Online Friends</h3>
        <div class="row p-2 ms-4">
            @if (FriendListState.Value.IsEmpty)
            {
                <InfoSpan Text="No friends added yet — mark friends in the server scoreboard, to see who is playing."/>
            }
            else
            {
                <ul style="list-style-type: none;">
                    @if (FriendListState.Value.OnlineFriendList != null && FriendListState.Value.OnlineFriendList.Count > 0)
                    {
                        @foreach (var friend in FriendListState.Value.OnlineFriendList)
                        {
                            <li class="m-2">
                                <i class="bi bi-circle-fill" style="color: green; font-size: 11pt;"></i>
                                <a href="@friend.ProfileUrl" target="_blank" style="text-decoration: none; opacity: .75" title="Open BF2Hub profile">
                                    @friend.DisplayName
                                </a>
                                <span style="font-size: 10pt; color: #767676">
                                    @friend.ServerInfo.MapNameAndSize @@ <LinkedServer Server="friend.ServerInfo"/>
                                    <a role="button"
                                            title="Join server (requires joinme.click/download)"
                                            href="@friend.ServerInfo.JoinLink"
                                            class="btn btn-dark btn-sm mx-2"
                                            disabled="@friend.ServerInfo.IsPasswordProtected">
                                        <i class="bi @(friend.ServerInfo.IsPasswordProtected ? "bi-lock" : "bi-play-circle") icon-in-a-button-small"></i> Join
                                    </a>
                                </span>
                            </li>
                        }
                    }
                    else
                    {
                        <InfoSpan Text="No friends online — add more friends in the server scoreboard, to see who is playing."/>
                    }
                </ul>
            }
        </div>
    }
</div>

<div class="row pt-5 mt-2">
@if (FullServerListState.Value.ServerList == null || FavoriteServerListState.Value.ServerList == null)
{
    <LoadingSpinner/>
}
else
{
    <div class="col-xxl-6 order-2 order-xxl-1">
        <div class="pt-2 pb-2">
            <h3>All Battlefield 2 Servers</h3>
        </div>
        <div class="accordion accordion-flush bg-dark" id="mainAccordion">
            @foreach (var server in FullServerListState.Value.ServerList)
            {
                <!-- All Servers -->
                <div class="accordion-item">
                    <div class="accordion-header" style="min-width: 300px;">
                        <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                            <i class="bi @(server.IsPinned ? "bi-heart-fill" : "bi-heart") grow p-3" style="font-size: 20pt; @(server.IsPinned ? "color: indianred;" : "color: grey;")" @onclick="() => ToggleFavorite(server)" title="Add or remove from favorites">
                            </i>
                            <button class="accordion-button collapsed btn @CalculateServerOpacityClass(server)" style="min-width: 500px;"
                                    type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapsed_@server.Guid">
                                <div class="col" style="min-width: 73px;">
                                    <span class="badge bg-primary rounded-pill me-3" title="Number of players (not counting bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                                </div>
                                <div id="serverIcons" class="row align-middle">
                                    <div class="col-1">
                                        @if (server.Ranked == true)
                                        {
                                            <img style="width: 16px;" src="_content/BF2TV.Frontend/img/ranked.png" alt="Ranked" title="Ranked"/>
                                        }
                                        else
                                        {
                                            <img style="width: 16px;" src="_content/BF2TV.Frontend/img/unranked.png" alt="Unranked" title="Unranked"/>
                                        }
                                    </div>
                                    <div class="col-1">
                                        @if (server.Battlerecorder == true)
                                        {
                                            <i class="bi bi-camera-video" style="font-size: 14px;" title="Battlerecorder is enabled"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-camera-video-off opacity-25" style="font-size: 14px;" title="Battlerecorder not enabled"></i>
                                        }
                                    </div>
                                    <div class="col-1">
                                        @if (server.Password == true)
                                        {
                                            <i class="bi bi-lock-fill" style="font-size: 14px;" title="Requires password"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-unlock" style="opacity: .1; font-size: 14px;" title="Has no password"></i>
                                        }
                                    </div>
                                </div>
                                <div id="serverText" class="container">
                                    <div class="row dynamic-server-name-width-xs dynamic-server-name-width-sm dynamic-server-name-width-md dynamic-server-name-width-lg"
                                         style="display: inline-block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                        @server.Name
                                    </div>
                                    <div class="row">
                                        <small>
                                            <span style="color: #747474">@server.MapNameAndSize</span>
                                        </small>
                                    </div>
                                </div>
                            </button>
                        </div>

                        <div id="collapsed_@server.Guid" class="accordion-collapse collapse">
                            <div class="accordion-body ps-5 pe-3 pb-5">
                                <div class="row d-flex justify-content-center text-center">
                                    <span>
                                        <a role="button" href="servers/@server.IpAndPort" class="btn btn-dark btn-sm mx-1">
                                            <i class="bi bi-info-circle icon-in-a-button-small align-middle"></i> <span class="align-middle">Server Details</span>
                                        </a>
                                        @if (server.JoinLink != null)
                                        {
                                            <a role="button" title="Join server (requires joinme.click/download)" href="@server.JoinLink" class="btn btn-dark btn-sm mx-1">
                                                <i class="bi bi-play-circle icon-in-a-button-small align-middle"></i> <span class="align-middle">Join server</span>
                                            </a>
                                        }
                                        @if (_discordUrlParser.TryGetDiscordUrl(server.SponsorText, out var discordUrl))
                                        {
                                            <a role="button" class="btn btn-dark btn-sm mx-1" target="_blank" href="@discordUrl">
                                                <i class="bi bi-discord icon-in-a-button-small align-middle"></i> <span class="align-middle">Join Discord</span>
                                            </a>
                                        }
                                        @if (server.Battlerecorder == true && !string.IsNullOrWhiteSpace(server.DemoIndex) && Uri.IsWellFormedUriString(server.DemoIndex, UriKind.Absolute))
                                        {
                                            <a role="button" class="btn btn-dark btn-sm mx-1" target="_blank" href="@server.DemoIndex">
                                                <i class="bi bi-camera-video icon-in-a-button-small align-middle"></i> <span class="align-middle">Demos</span>
                                            </a>
                                        }
                                    </span>
                                    <span class="mb-4">
                                        <small><strong>Server IP</strong>: @server.IpAndPort</small>
                                    </span>
                                </div>
                                @if (server.NumPlayersWithoutBots > 0)
                                {
                                    <div class="row">
                                        <div class="col ps-5">
                                            <!-- Scoreboard -->
                                            <table id="scoreboard" class="table table-sm table-hover table-borderless">
                                                <thead class="mb-1">
                                                <tr>
                                                    <th scope="col" class="align-middle text-truncate">@server.Team1 Player</th>
                                                    <th style="width: 5%;" scope="col" class="align-middle text-center">Score</th>
                                                    <th style="width: 0;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var player in server.Players
                                                    .Where(p => p.IsHuman)
                                                    .Where(p => p.TeamLabel == server.Team1)
                                                    .OrderByDescending(p => p.Score)
                                                    .ToList())
                                                {
                                                    <tr>
                                                        <td style="vertical-align: center;">
                                                            <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                               href="@player.ProfileUrl">
                                                                <span style="color: @(player.IsFriend ? "darkseagreen" : "")">@player.FullName</span>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            @player.Score
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="@GetClassForFriendButton(player.IsFriend)" @onclick="() => AddOrRemoveFriend(player, server)" title="@GetTitleForFriendButton(player.IsFriend)"></i>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col ps-5">
                                            <!-- Scoreboard -->
                                            <table id="scoreboard" class="table table-sm table-hover table-borderless">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="align-middle text-truncate">@server.Team2 Player</th>
                                                    <th style="width: 5%;" scope="col" class="align-middle text-center">Score</th>
                                                    <th style="width: 0;"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var player in server.Players
                                                    .Where(p => p.IsHuman)
                                                    .Where(p => p.TeamLabel == server.Team2)
                                                    .OrderByDescending(p => p.Score)
                                                    .ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                               href="@player.ProfileUrl">
                                                                <span style="color: @(player.IsFriend ? "darkseagreen" : "")">@player.FullName</span>
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            @player.Score
                                                        </td>
                                                        <td class="text-center">
                                                            <i class="@GetClassForFriendButton(player.IsFriend)" @onclick="() => AddOrRemoveFriend(player, server)" title="@GetTitleForFriendButton(player.IsFriend)"></i>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xxl-6 order-1 order-xxl-2 mb-5">
        <div class="pt-2 pb-2">
            <h3>Your favorites</h3>
        </div>
        <div class="accordion accordion-flush bg-dark" id="favoritesAccordion">
            @if (FavoriteServerListState.Value.ServerList?.Any() == true)
            {
                foreach (var server in FavoriteServerListState.Value.ServerList)
                {
                    <!-- Favorites -->
                    <div class="accordion-item">
                        <div class="accordion-header" style="min-width: 300px;">
                            <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                                <i class="bi bi-trash grow p-3" style="font-size: 15pt" @onclick="() => ToggleFavorite(server)" title="Remove from favorites">
                                </i>
                                <button class="accordion-button collapsed btn @CalculateServerOpacityClass(server)" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapsed_favorite_@server.Guid">
                                    <div class="col" style="min-width: 73px;">
                                        <span class="badge bg-primary rounded-pill me-3" title="Number of players (not counting bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                                    </div>
                                    <div id="serverIcons" class="row align-middle">
                                        <div class="col-1">
                                            @if (server.Ranked == true)
                                            {
                                                <img style="width: 16px;" src="_content/BF2TV.Frontend/img/ranked.png" alt="Ranked" title="Ranked"/>
                                            }
                                            else
                                            {
                                                <img style="width: 16px;" src="_content/BF2TV.Frontend/img/unranked.png" alt="Unranked" title="Unranked"/>
                                            }
                                        </div>
                                        <div class="col-1">
                                            @if (server.Battlerecorder == true)
                                            {
                                                <i class="bi bi-camera-video" style="font-size: 14px;" title="Battlerecorder is enabled"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-camera-video-off opacity-25" style="font-size: 14px;" title="Battlerecorder not enabled"></i>
                                            }
                                        </div>
                                        <div class="col-1">
                                            @if (server.Password == true)
                                            {
                                                <i class="bi bi-lock-fill" style="font-size: 14px;" title="Requires password"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-unlock" style="opacity: .1; font-size: 14px;" title="Has no password"></i>
                                            }
                                        </div>
                                    </div>
                                    <div id="serverText" class="container">
                                        <div class="row dynamic-server-name-width-xs dynamic-server-name-width-sm dynamic-server-name-width-md dynamic-server-name-width-lg"
                                             style="display: inline-block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                            @server.Name
                                        </div>
                                        <div class="row">
                                            <small>
                                                <span style="color: #747474">@server.MapNameAndSize</span>
                                            </small>
                                        </div>
                                    </div>
                                </button>
                            </div>

                            <div id="collapsed_favorite_@server.Guid" class="accordion-collapse collapse">
                                <div class="accordion-body ps-5 pe-3 pb-5">
                                    <div class="row d-flex justify-content-center text-center">
                                        <span>
                                            <a role="button" href="servers/@server.IpAndPort" class="btn btn-dark btn-sm mx-1">
                                                <i class="bi bi-info-circle icon-in-a-button-small align-middle"></i> <span class="align-middle">Server Details</span>
                                            </a>
                                            @if (server.JoinLink != null)
                                            {
                                                <a role="button" title="Join server (requires joinme.click/download)" href="@server.JoinLink" class="btn btn-dark btn-sm mx-1">
                                                    <i class="bi bi-play-circle icon-in-a-button-small align-middle"></i> <span class="align-middle">Join server</span>
                                                </a>
                                            }
                                            @if (_discordUrlParser.TryGetDiscordUrl(server.SponsorText, out var discordUrl))
                                            {
                                                <a role="button" class="btn btn-dark btn-sm mx-1" target="_blank" href="@discordUrl">
                                                    <i class="bi bi-discord icon-in-a-button-small align-middle"></i> <span class="align-middle">Join Discord</span>
                                                </a>
                                            }
                                            @if (server.Battlerecorder == true && !string.IsNullOrWhiteSpace(server.DemoIndex) && Uri.IsWellFormedUriString(server.DemoIndex, UriKind.Absolute))
                                            {
                                                <a role="button" class="btn btn-dark btn-sm mx-1" target="_blank" href="@server.DemoIndex">
                                                    <i class="bi bi-camera-video icon-in-a-button-small align-middle"></i> <span class="align-middle">Demos</span>
                                                </a>
                                            }
                                        </span>
                                        <span class="mb-4">
                                            <small><strong>Server IP</strong>: @server.IpAndPort</small>
                                        </span>
                                    </div>
                                    @if (server.NumPlayersWithoutBots > 0)
                                    {
                                        <div class="row">
                                            <div class="col ps-5">
                                                <!-- Scoreboard -->
                                                <table id="scoreboard" class="table table-sm table-hover table-borderless">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col" class="align-middle text-truncate">@server.Team1 Player</th>
                                                        <th style="width: 5%;" scope="col" class="align-middle text-center">Score</th>
                                                        <th style="width: 0;"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var player in server.Players
                                                        .Where(p => p.IsHuman)
                                                        .Where(p => p.TeamLabel == server.Team1)
                                                        .OrderByDescending(p => p.Score)
                                                        .ToList())
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                                   href="@player.ProfileUrl">
                                                                    <span style="color: @(player.IsFriend ? "darkseagreen" : "")">@player.FullName</span>
                                                                </a>
                                                            </td>
                                                            <td class="text-center">
                                                                @player.Score
                                                            </td>
                                                            <td class="text-center">
                                                                <i class="@GetClassForFriendButton(player.IsFriend)" @onclick="() => AddOrRemoveFriend(player, server)" title="@GetTitleForFriendButton(player.IsFriend)"></i>
                                                            </td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col ps-5">
                                                <!-- Scoreboard -->
                                                <table id="scoreboard" class="table table-sm table-hover table-borderless">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col" class="align-middle text-truncate">@server.Team2 Player</th>
                                                        <th style="width: 5%;" scope="col" class="align-middle text-center">Score</th>
                                                        <th style="width: 0;"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var player in server.Players
                                                        .Where(p => p.IsHuman)
                                                        .Where(p => p.TeamLabel == server.Team2)
                                                        .OrderByDescending(p => p.Score)
                                                        .ToList())
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                                   href="@player.ProfileUrl">
                                                                    <span style="color: @(player.IsFriend ? "darkseagreen" : "")">@player.FullName</span>
                                                                </a>
                                                            </td>
                                                            <td class="text-center">
                                                                @player.Score
                                                            </td>
                                                            <td class="text-center">
                                                                <i class="@GetClassForFriendButton(player.IsFriend)" @onclick="() => AddOrRemoveFriend(player, server)" title="@GetTitleForFriendButton(player.IsFriend)"></i>
                                                            </td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <span style="font-size: 10pt; color: #767676">No favorites yet. Click the heart on the servers you usually play on!</span>
            }
        </div>
    </div>
}
</div>

@code {
    private bool _isServerDataLoaded = false;
    private string? _activePlayerName;

    protected override async Task OnInitializedAsync()
    {
        if (!_isServerDataLoaded)
        {
            Dispatcher.Dispatch(new InitializeServerListsAction());
            if (!AlertState.Value.IsLoaded)
                Dispatcher.Dispatch(new AlertStore.Actions.FriendIsOnServerConditions.StartLoading());

            PeriodicRefresher.UpdateSetting(true);
            _isServerDataLoaded = true;

            if (Environment.IsApp())
                _activePlayerName = ActivePlayerLookupService.GetPlayer()?.ToString();
        }
        await base.OnInitializedAsync();
    }

    private void Refresh()
    {
        Dispatcher.Dispatch(new SetFullServerListAction(null));
        Dispatcher.Dispatch(new SetFavoriteServerListAction(null));
        Dispatcher.Dispatch(new InitializeServerListsAction());
    }

    private void ToggleFavorite(Server server)
    {
        Dispatcher.Dispatch(new ToggleFavoriteAction(server));
    }

    private void AddOrRemoveFriend(Player player, Server server)
    {
        if (player.IsFriend)
        {
            player.IsFriend = false;
            Dispatcher.Dispatch(new RemoveFriendAction(player.FullName));
        }
        else
        {
            player.IsFriend = true;
            Dispatcher.Dispatch(new AddFriendAction(player, server));
        }
    }

    private static string CalculateServerOpacityClass(Server server)
    {
        switch (server.NumPlayersWithoutBots)
        {
            case < 1:
                return "opacity-50"; // empty
            default:
                return "opacity-100"; // full
        }
    }

    private static string GetTitleForFriendButton(bool isFriend) => isFriend ?
        "Remove friend" :
        "Mark as friend";

    private static string GetClassForFriendButton(bool isFriend) => isFriend ?
        "btn btn-sm btn-outline-warning bi bi-person-dash grow" :
        "btn btn-sm btn-outline-success bi bi-person-plus grow";

}