@page "/"
@inherits FluxorComponent
@using BF2Dashboard.Domain.BattlefieldApi
@using BF2Dashboard.UI.Store
@using BF2Dashboard.UI.Store.FriendList
@inject IDispatcher _dispatcher
@inject IState<FavoriteServerListState> _favoriteServerListState
@inject IState<FullServerListState> _fullServerListState
@inject IState<FriendListState> _friendListState
@inject IState<LoadingState> _loadingState

<h2>Your Personal BF2 Dashboard</h2>
<div class="pt-3">
    <button class="btn btn-dark btn-sm" title="Refresh server data" @onclick="Refresh">
        <i class="bi bi-arrow-clockwise" style="font-size: 15pt;"></i> Refresh server data
    </button>
</div>

<div class="col-md-6 pt-5 mt-2">
    @if (_fullServerListState.Value.ServerList != null && _friendListState.Value.IsLoading == false && _friendListState.Value.IsInitialized)
    {
        <h3>Online Friends:</h3>
        <div class="row p-2 ms-4">
            @if (_friendListState.Value.IsEmpty)
            {
                <span style="font-size: 10pt; color: #767676">
                    <span>No friends yet.</span>
                    <p>Mark your BF2 friends in the server scoreboard, to always see where they are playing!</p>
                </span>
            }
            else
            {
                <ul style="list-style-type: none;">
                    @if (_friendListState.Value.OnlineFriendList != null)
                    {
                        @foreach (var friend in _friendListState.Value.OnlineFriendList)
                        {
                            <li>
                                <i class="bi bi-circle-fill" style="color: green; font-size: 11pt;"></i>
                                @friend.DisplayName
                                <span style="font-size: 10pt; color: #767676">
                                    @friend.ServerInfo.MapName @@ @friend.ServerInfo.ServerName
                                    (@friend.ServerInfo.CurrentPlayerCountWithoutBots/@friend.ServerInfo.MaxPlayerCount)
                                </span>
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    }
</div>

<div class="row pt-5 mt-2">
    @if (_fullServerListState.Value.ServerList == null || _favoriteServerListState.Value.ServerList == null)
    {
        <LoadingSpinner/>
    }
    else
    {
        <div class="col-md-6">
            <div class="pt-2 pb-2">
                <h3>All Battlefield 2 Servers:</h3>
            </div>
            <div class="accordion accordion-flush bg-dark" id="mainAccordion">
                @foreach (var server in _fullServerListState.Value.ServerList)
                {
                    <!-- All Servers -->
                    <div class="accordion-item">
                        <div class="accordion-header" style="min-width: 300px;">
                            <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                                <i class="bi @(server.IsPinned ? "bi-heart-fill" : "bi-heart") grow p-3" style="font-size: 20pt; @(server.IsPinned ? "color: indianred;" : "color: grey;")" @onclick="() => ToggleFavorite(server)" title="Add or remove from favorites">
                                </i>
                                <button class="accordion-button collapsed btn @CalculateServerOpacityClass(server)" style="min-width: 500px;"
                                        type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapsed_@server.Guid">
                                    <div class="col" style="min-width: 73px;">
                                        <span class="badge bg-primary rounded-pill me-3" title="Number of players (not counting bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                                    </div>
                                    <ServerIcons Server="@server"/>
                                    <div id="serverText" class="container">
                                        <div class="row dynamic-server-name-width-xs dynamic-server-name-width-sm dynamic-server-name-width-md dynamic-server-name-width-lg"
                                             style="display: inline-block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                            @server.Name
                                        </div>
                                        <div class="row">
                                            <small>
                                                @server.MapName
                                            </small>
                                        </div>
                                    </div>
                                </button>
                            </div>

                            <div id="collapsed_@server.Guid" class="accordion-collapse collapse">
                                <div class="accordion-body ps-5 pe-3 pb-5">
                                    <div class="row d-flex justify-content-center text-center">
                                        <span class="mb-4">
                                            <small><strong>Server IP</strong>: @server.Ip:@server.Port</small>
                                        </span>
                                    </div>
                                    @if (server.NumPlayersWithoutBots > 0)
                                    {
                                        <div class="row">
                                            <Scoreboard Server="@server"/>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="pt-2 pb-2">
                <h3>Your favorites:</h3>
            </div>
            <div class="accordion accordion-flush bg-dark" id="favoritesAccordion">
                @if (_favoriteServerListState.Value.ServerList?.Any() == true)
                {
                    foreach (var server in _favoriteServerListState.Value.ServerList)
                    {
                        <!-- Favorites -->
                        <div class="accordion-item">
                            <div class="accordion-header" style="min-width: 300px;">
                                <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                                    <i class="bi bi-trash grow p-3" style="font-size: 15pt" @onclick="() => ToggleFavorite(server)" title="Remove from favorites">
                                    </i>
                                    <button class="accordion-button collapsed btn @CalculateServerOpacityClass(server)" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapsed_favorite_@server.Guid">
                                        <div class="col" style="min-width: 73px;">
                                            <span class="badge bg-primary rounded-pill me-3" title="Number of players (not counting bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                                        </div>
                                        <ServerIcons Server="@server"/>
                                        <div id="serverText" class="container">
                                            <div class="row dynamic-server-name-width-xs dynamic-server-name-width-sm dynamic-server-name-width-md dynamic-server-name-width-lg"
                                                 style="display: inline-block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                                @server.Name
                                            </div>
                                            <div class="row">
                                                <small>
                                                    @server.MapName
                                                </small>
                                            </div>
                                        </div>
                                    </button>
                                </div>

                                <div id="collapsed_favorite_@server.Guid" class="accordion-collapse collapse">
                                    <div class="accordion-body ps-5 pe-3 pb-5">
                                        <div class="row d-flex justify-content-center text-center">
                                            <span class="mb-4">
                                                <small><strong>Server IP</strong>: @server.Ip:@server.Port</small>
                                            </span>
                                        </div>
                                        @if (server.NumPlayersWithoutBots > 0)
                                        {
                                            <div class="row">
                                                <Scoreboard Server="@server"/>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span style="font-size: 10pt; color: #767676">No favorites yet. Click the heart on the servers you usually play on!</span>
                }
            </div>
        </div>
    }
</div>

@code {
    private bool _isServerDataLoaded = false;

    protected override void OnInitialized()
    {
        if (!_isServerDataLoaded)
        {
            _dispatcher.Dispatch(new InitializeServerListsAction());
            _isServerDataLoaded = true;
        }

        base.OnInitialized();
    }

    private void Refresh()
    {
        _dispatcher.Dispatch(new SetFullServerListAction(null));
        _dispatcher.Dispatch(new SetFavoriteServerListAction(null));
        _dispatcher.Dispatch(new InitializeServerListsAction());
    }

    private void ToggleFavorite(Server server)
    {
        _dispatcher.Dispatch(new ToggleFavoriteAction(server));
    }

    private static string CalculateServerOpacityClass(Server server)
    {
        switch (server.NumPlayersWithoutBots)
        {
            case < 1:
                return "opacity-50"; // empty
            default:
                return "opacity-100"; // full
        }
    }

}