@page "/"
@using BF2Dashboard.Domain.BattlefieldApi
@using BF2Dashboard.Domain.Services
@using Blazored.LocalStorage
@inject ILocalStorageService _browserStorage
@inject ServerCachingService _cachingService
@inject ServerHandlingService _serverHandlingService

<PageTitle>Dashboard</PageTitle>

<h2>Battlefield 2 Servers</h2>
<div class="row">
    <div class="table-responsive col-md-6">
        <div class="accordion" id="accordionExample">
            @if (_pinnedServers != null)
            {
                @RenderServerList(_pinnedServers)
            }
            @if (_allServers == null)
            {
                <LoadingSpinner/>
            }
            else
            {
                @RenderServerList(_allServers)
            }
        </div>
    </div>
</div>

@code {

    private readonly RenderFragment<List<Server>> RenderServerList = serverList => __builder =>
    {
        <Virtualize Items="@serverList.OrderByDescending(s => s.NumPlayersWithoutBots).ToList()" Context="server" TItem="Server">
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                        <ServerPinningComponent Server="@server"/>
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@server.Guid">
                            @server.Name
                            <span class="badge bg-primary rounded-pill" title="Number of players (without bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                        </button>
                    </div>

                    <div id="collapse_@server.Guid" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col">
                                    <Scoreboard SelectedServerId="@server.Guid" TeamLabelFilter="@server.Team1"/>
                                </div>
                                <div class="col">
                                    <Scoreboard SelectedServerId="@server.Guid" TeamLabelFilter="@server.Team2"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Virtualize>
    };

    private List<Server>? _pinnedServers;
    private List<Server>? _allServers;

    protected override async Task OnInitializedAsync()
    {
        await _serverHandlingService.Initialize();
        _pinnedServers = _serverHandlingService.PinnedServers;
        _allServers = _serverHandlingService.AllServers;
    }

}