@page "/"
@inherits FluxorComponent
@using BF2Dashboard.Domain.BattlefieldApi
@using BF2Dashboard.UI.Store
@inject IDispatcher Dispatcher
@inject IState<FavoriteServerListState> FavoriteServerListState
@inject IState<FullServerListState> FullServerListState

<PageTitle>Dashboard</PageTitle>

<h2>Battlefield 2 Servers</h2>
<div class="row">
    <div class="col-md-6">
        <div class="pt-5 pb-2">
            <h3>All:</h3>
        </div>
        <div class="accordion accordion-flush bg-dark" id="mainAccordion">
            @if (FullServerListState.Value.ServerList == null)
            {
                <LoadingSpinner/>
            }
            else
            {
                foreach (var server in FullServerListState.Value.ServerList)
                {
                    <!-- All Servers -->
                    <div class="accordion-item">
                        <div class="accordion-header" style="min-width: 300px;">
                            <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                                <i class="bi @(server.IsPinned ? "bi-heart-fill" : "bi-heart") grow p-3" style="font-size: 20pt" @onclick="() => ToggleFavorite(server)" title="Add or remove from favorites">
                                </i>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapsed_@server.Guid">
                                    <span class="badge bg-primary rounded-pill me-3" title="Number of players (without bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                                    @server.Name
                                </button>
                            </div>

                            <div id="collapsed_@server.Guid" class="accordion-collapse collapse">
                                <div class="accordion-body ps-5 pe-3 pb-5">
                                    <div class="row">
                                        <div class="col ms-5">
                                            <!-- Scoreboard -->
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">@server.Team1 Player</th>
                                                    <th scope="col">Score</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var player in server.Players
                                                    .Where(p => p.IsHuman)
                                                    .Where(p => p.TeamLabel == server.Team1)
                                                    .OrderByDescending(p => p.Score)
                                                    .ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                               href="https://www.bf2hub.com/player/@player.Name">
                                                                <span>@player.Tag @player.Name</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @player.Score
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col ms-5">
                                            <!-- Scoreboard -->
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">@server.Team2 Player</th>
                                                    <th scope="col">Score</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var player in server.Players
                                                    .Where(p => p.IsHuman)
                                                    .Where(p => p.TeamLabel == server.Team2)
                                                    .OrderByDescending(p => p.Score)
                                                    .ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                               href="https://www.bf2hub.com/player/@player.Name">
                                                                <span>@player.Tag @player.Name</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @player.Score
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="pt-5 pb-2">
            <h3>Your favorites:</h3>
        </div>
        <div class="accordion accordion-flush bg-dark" id="favoritesAccordion">
            @if (FavoriteServerListState.Value.ServerList == null)
            {
                <LoadingSpinner/>
            }
            else if (FavoriteServerListState.Value.ServerList.Any())
            {
                foreach (var server in FavoriteServerListState.Value.ServerList)
                {
                    <!-- Favorites -->
                    <div class="accordion-item">
                        <div class="accordion-header" style="min-width: 300px;">
                            <div class="accordion-item d-flex justify-content-between align-items-center text-nowrap @server.IsPinned ? 'active' : ''">
                                <i class="bi bi-trash grow p-3" style="font-size: 15pt" @onclick="() => ToggleFavorite(server)" title="Remove from favorites">
                                </i>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapsed_favorite_@server.Guid">
                                    <span class="badge bg-primary rounded-pill me-3" title="Number of players (without bots)">@server.NumPlayersWithoutBots / @server.MaxPlayers</span>
                                    @server.Name
                                </button>
                            </div>

                            <div id="collapsed_favorite_@server.Guid" class="accordion-collapse collapse">
                                <div class="accordion-body ps-5 pe-3 pb-5">
                                    <div class="row">
                                        <div class="col ms-5">
                                            <!-- Scoreboard -->
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">@server.Team1 Player</th>
                                                    <th scope="col">Score</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var player in server.Players
                                                    .Where(p => p.IsHuman)
                                                    .Where(p => p.TeamLabel == server.Team1)
                                                    .OrderByDescending(p => p.Score)
                                                    .ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                               href="https://www.bf2hub.com/player/@player.Name">
                                                                <span>@player.Tag @player.Name</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @player.Score
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col ms-5">
                                            @* <Scoreboard SelectedServerId="@server.Guid" TeamLabelFilter="@server.Team2"/> *@
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">@server.Team2 Player</th>
                                                    <th scope="col">Score</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var player in server.Players
                                                    .Where(p => p.IsHuman)
                                                    .Where(p => p.TeamLabel == server.Team2)
                                                    .OrderByDescending(p => p.Score)
                                                    .ToList())
                                                {
                                                    <tr>
                                                        <td>
                                                            <a title="Open BF2Hub profile" class="link-light text-nowrap text-decoration-none" target="_blank"
                                                               href="https://www.bf2hub.com/player/@player.Name">
                                                                <span>@player.Tag @player.Name</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @player.Score
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <span style="font-size: 10pt; color: #767676">(Empty)</span>
            }
        </div>
    </div>
</div>

@code {
    private bool _isInitialized = false;

    protected override void OnInitialized()
    {
        if (!_isInitialized)
        {
            Dispatcher.Dispatch(new InitializeServerListsAction());
            _isInitialized = true;
        }

        base.OnInitialized();
    }

    private void ToggleFavorite(Server server)
    {
        Dispatcher.Dispatch(new ToggleFavoriteAction(server));
    }

}